<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="nav-bar" th:fragment="navbar">
    <div class="side-bar-container">
        <nav>
            <div class="side_navbar">
                <div class="name">Trusty Wallet</div>
                <div class="block">
                    <a href="/home" class="active">
                        <p>Dashboard</p>
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>
                <div class="block">
                    <span>Quick Link</span>
                    <a href="/transfers">
                        <p>Transfers</p>
                        <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
                    </a>
                    <a href="/wallets">
                        <p>Wallets</p>
                        <i class="fa-solid fa-wallet"></i>
                    </a>
                    <a href="/transactions">
                        <p>Transactions</p>
                        <i class="fa-solid fa-money-bill-transfer"></i>
                    </a>
                </div>
                <div class="block">
                    <span>Utility</span>
                    <a href="/notifications">
                        <p>Notifications</p>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </a>
                </div>
                <div class="block" th:if="${user.role.name() == 'ADMIN'}">
                    <span>Admin</span>
                    <a href="/users">
                        <p>Users</p>
                        <i class="fa-solid fa-users"></i>
                    </a>
                    <a href="/reports">
                        <p>Reports</p>
                        <i class="fa-solid fa-file-contract"></i>
                    </a>
                </div>
                <div class="block">
                    <a class="logout" href="/logout">
                        <p>Logout</p>
                        <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    </a>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>