main {
    min-height: 97dvh;
}

.register, .login {
    background: radial-gradient(circle,rgba(110, 110, 110, 1) 0%, rgba(0, 0, 0, 1) 100%);
    width: 150px;
    text-align: center;
}

.nav-container {

    .navbar {
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        margin: 40px;
    }
}

.index-home {
    text-align: center;

    .image-container {
        border: none;
    }

    .main-header {
        font-size: 65px;
        letter-spacing: 1.2px;
        padding: 10px;
        span {
            font-size: 90px;
        }
    }

    .text-message {
        padding: 10px;
        font-size: 30px;
        letter-spacing: 1px;
    }
}