.nav-bar {
  height: 100%;
}

.side-bar-container {
  background: #eeeeee;
  width: 240px;
  height: 100%;
  border-radius: 12px;
  padding: 55px;
  padding-inline: 20px;
  box-shadow: 5px 5px 10px black;

  nav {
    width: 100%;
  }
}

.side_navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.block {
  margin-bottom: 16px;

  span {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 10px;
    display: block;
    background: radial-gradient(ellipse at top, #746ab0 0%, #a095e6 10%, #faf9f9 20%, #c5bfff 30%, #978ef1 40%, #7871f6 50%, #817cff 60%, #8eafe9 70%, #a1a1ff 80%, #a8a8ff 90%, #6d78f3 100%);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 8px 12px;
    height: 10%;
  }

  a {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 14px;
    color: #333333;
    padding: 10px 12px;
    border-radius: 8px;
    margin-bottom: 8px;
    background: transparent;

  }

  a:hover {
    background: #0fc33c;
    color: white;
    font-size: 14px;
    font-weight: 300;
    transition: background 0.9s ease-in-out;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    p,i {
        color: white;
    }
  }

 a.active {
   background: #0fc33c;
   color: white;
   font-weight: 300;

    p,i {
        color: white;
    }
 }

  p {
    margin: 0;
    align-self: center;
    display: inline-block;
    font-size: 16px;
  }

  i {
    font-size: 18px;
  }

  .logout {
    background: linear-gradient(145deg, #ff6767, #ff6767);
    color: white;

    a:hover {
      background: linear-gradient(145deg, #ff6767, #ff6767);
      color: white;
    }
  }

}

.name {
  margin-bottom: 26px;
  padding: 10px;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid white;
}
