main {
    min-height: 90dvh;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;
    padding: 10px;

    .icon {
        background-color: rgb(128, 195, 240);
    }
}

.error-details {
    margin: 15px;
    display: flex;
    gap: 10px;
}
