main {
    min-height: 90dvh;
}

.error-card {
    width: 680px;
    height: 680px;
    padding: 15px;
    background-color: white;
    border: 1px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 10px black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p,h2,strong {
        color: black;
    }


    .message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        text-align: center;
        padding: 10px;

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;

            border: 2px solid black;
            border-radius: 50px;
            width: 100px;
            height: 100px;
            background-color: rgb(128, 195, 240);

            i {
                color: black;
                font-size: 80px;
            }
        }
    }

    .error-details {
        margin: 15px;
        display: flex;
        gap: 10px;
    }

    .back {
        text-align: center;
        width: 120px;
        background-color: rgb(32, 32, 32);
    }
}