<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/images/wallet-main-logo.png">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/form.css">
  <title>Login</title>
</head>
<body>
  <th:block th:insert="fragments/header :: header"></th:block>
  <main>
    <form class="form" th:action="@{/login}" th:method="POST" th:object="${loginRequest}">

      <h3>Login</h3>

      <fieldset>
        <label for="username">Username</label>
        <div class="formInput">
          <i class="fa-solid fa-user"></i>
          <input type="text" placeholder="Username" id="username" th:field="*{username}" required>
        </div>
        <p class="alarm-alert" th:if="${errorMessage}" th:text="${errorMessage}"></p>
      </fieldset>

      <fieldset>
        <label for="password">Password</label>
        <div class="formInput">
          <i class="fa-solid fa-key"></i>
          <input type="password" placeholder="Password" id="password" th:field="*{password}" required>
        </div>
      </fieldset>

      <button class="button form-btn">
        <p>Login</p>
        <i class="fa-solid fa-paper-plane"></i>
      </button>

      <p>Don't have an account? Click here <i class="fa-regular fa-hand-point-right"> </i> <a href="/register">Register</a> </p>
    </form>
  </main>
  <th:block th:insert="fragments/footer :: footer"></th:block>
</body>
</html>