<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"><head>
  <meta charset="UTF-8">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/common.css">
  <link rel="stylesheet" type="text/css" href="/css/nav-side-bar.css">
  <link rel="stylesheet" type="text/css" href="/css/home-common.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
  <link rel="stylesheet" type="text/css" href="/css/profile-menu.css">
  <title>Edit Profile</title>
</head>
<body>
<nav>

</nav>
<main>
  <th:block th:insert="fragments/navbar :: navbar"></th:block>

  <div class="home-section">
    <div class="single-section-box profile-menu">
      <div class="profile-header">
        <img th:src="${#strings.isEmpty(user.profilePic) ? 'https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png' : user.profilePic}" alt="Profile Picture" class="profile-avatar">
        <h2 th:text="${user.username}" class="profile-name"></h2>
      </div>

      <div class="details-section">
        <div class="details-section-container">
          <strong>User id: </strong>
          <p th:text="${user.id}"></p>
        </div>
        <div class="details-section-container">
          <strong>Last profile update: </strong>
          <p th:text="${user.updatedOn}"></p>
        </div>
      </div>

      <form class="form" th:action="@{'/users/' + ${user.id} + '/profile'}" th:method="PUT" th:object="${editRequest}">

        <label for="firstName">First Name</label>
        <input type="text" id="firstName" placeholder="First Name" th:field="*{firstName}">
        <p class="alert-warning" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name" th:field="*{lastName}">
        <p class="alert-warning" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

        <label for="email">Email</label>
        <input type="text" id="email" placeholder="Email Address" th:field="*{email}">
        <p class="alert-warning" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>

        <label for="profilePic">Profile Picture URL</label>
        <input type="text" id="profilePic" placeholder="Image Link" th:field="*{profilePic}">
        <p class="alert-warning" th:if="${#fields.hasErrors('profilePic')}" th:errors="*{profilePic}"></p>

        <button class="profile-actions-button">
          <p>Save</p>
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 6L9 17L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
        </button>
      </form>
    </div>
  </div>
</main>

<th:block th:insert="fragments/footer :: footer"></th:block>

</body>
</html>