<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/wallet-main-logo.png">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/nav-side-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/home-common.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/wallets.css">
    <title>Wallets</title>
</head>
<body>
    <th:block th:insert="fragments/header :: header"></th:block>
    <main>
        <th:block th:insert="fragments/navbar :: navbar"></th:block>
        <div class="wallets" th:each="wallet : ${user.wallets}">
            <div class="wallet-container">
                <div class="wallet-details">
                    <p class="wallet-type" th:text="${wallet.type.name()} + ' WALLET' ">DEFAULT WALLET</p>

                    <div class="wallet-status">
                        <p th:if="${wallet.status.name() == 'ACTIVE'}" class="status active">ACTIVE</p>
                        <p th:if="${wallet.status.name() == 'INACTIVE'}" class="status inactive">INACTIVE</p>
                        <form th:action="@{'/wallets/' + ${wallet.id} + '/status'}" th:method="PUT">
                            <label class="switch">
                                <input type="checkbox" onchange="this.form.submit()" th:checked="${wallet.status.name() == 'ACTIVE'}">
                                <span class="slider round"></span>
                            </label>
                        </form>
                    </div>

                    <div class="details-section">
                        <div class="details-container">
                            <strong>Id: </strong>
                            <p th:text="${wallet.id}"></p>
                        </div>
                        <div class="details-container">
                            <strong>Created on: </strong>
                            <p th:text="${#temporals.format(wallet.createdOn, 'dd MMM YYYY HH:mm')}">09 Dec 2024 21:39</p>
                        </div>
                    </div>
                </div>

                <div class="wallet-balance">
                    <p class="balance" th:text="${wallet.balance + ' EUR'}">120 EUR</p>
                    <p class="available-balance">Available Balance</p>
                </div>

                <div class="wallet-actions" th:if="${wallet.status.name() == 'ACTIVE'}">
                    <form class="charge-up-form" th:action="@{'/wallets/' + ${wallet.id} + '/charge'}" th:method="PUT" th:object="${chargeOwnWalletRequest}">
                        <fieldset>
                            <label for="amount">Amount</label>
                            <div class="formInput">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <input type="number" id="amount" placeholder="Enter amount to charge up wallet" min="1" step="0.01" required="" th:field="*{amount}">
                            </div>
                        </fieldset>

                        <button class="button form-btn">
                            <p>Charge</p>
                            <i class="fa-solid fa-arrow-up"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <th:block th:insert="fragments/footer :: footer"></th:block>
</body>
</html>