<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/wallet-main-logo.png">
    <link rel="stylesheet" type="text/css" href="/css/common.css">
    <link rel="stylesheet" type="text/css" href="/css/wallets.css">
    <link rel="stylesheet" type="text/css" href="/css/form.css">
    <link rel="stylesheet" type="text/css" href="/css/nav-side-bar.css">
    <title>Wallets</title>
</head>
<body>
    <th:block th:insert="fragments/header :: header"></th:block>
    <main>
        <th:block th:insert="fragments/navbar :: navbar"></th:block>
        <div class="wallet-block" th:each="wallet : ${user.wallets}">
            <div class="default-label-box">
                <p>Standard Wallet</p>
                <p th:if="${wallet.status.name() == 'ACTIVE'}" class="active-wallet-status">ACTIVE</p>
                <p th:if="${wallet.status.name() == 'INACTIVE'}" class="inactive-wallet-status">INACTIVE</p>
            </div>

            <div class="wallet-balance">
                <p class="balance" th:text="${wallet.balance + ' EUR'}"></p>
                <p class="available-balance-text">Available Balance</p>
            </div>

            <div class="wallet-actions">
                <form th:action="@{'/wallets/' + ${wallet.id} + '/balance/top-up'}" th:method="PUT">
                    <button type="submit" class="profile-actions-button">
                        <p>20.00</p>
                        <i class="fa-solid fa-arrow-up"></i>
                    </button>
                </form>
                <form th:action="@{'/wallets/' + ${wallet.id} + '/status'}" th:method="PUT">
                    <button type="submit" class="profile-actions-button">
                        <p>Switch</p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-toggle-on" viewBox="0 0 16 16">
                            <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8"></path>
                        </svg>
                    </button>
                </form>
            </div>

            <div class="details-section">
                <div class="details-container">
                    <strong>Id: </strong>
                    <p th:text="${wallet.id}"></p>
                </div>
                <div class="details-container">
                    <strong>Created on: </strong>
                    <p th:text="${#temporals.format(wallet.createdOn, 'dd MMM YYYY HH:mm')}">09 Dec 2024 21:39</p>
                </div>
            </div>

            <div class="wallet-activity">
                <div class="activity-entry" th:each="transaction : ${lastTransactions[wallet.id]}">
                    <svg th:if="${transaction.type.name() == 'DEPOSIT'}" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-up amount-in" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"></path>
                    </svg>
                    <svg th:if="${transaction.type.name() == 'WITHDRAWAL'}" xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-arrow-down amount-out" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"></path>
                    </svg>
                    <div class="activity-entry-description-and-date">
                        <p class="activity-entry-description" th:text="${transaction.description}">Top up 20.00</p>
                        <p class="activity-entry-date" th:text="${#temporals.format(transaction.createdOn, 'dd MMM YYYY HH:mm')}">30 Dec 2024 17:07</p>
                    </div>
                    <p th:if="${transaction.type.name() == 'DEPOSIT'}" class="activity-entry-amount amount-in" th:text="${'+' + transaction.amount}">+20.00</p>
                    <p th:if="${transaction.type.name() == 'WITHDRAWAL'}" class="activity-entry-amount amount-out" th:text="${'-' + transaction.amount}">-20.00</p>
                </div>
            </div>

            <form class="wallet-block new-wallet" th:action="@{/wallets}" th:method="POST" th:if="${user.wallets.size() < 2}">
                <button type="submit">
                    <i class="fa-solid fa-plus"></i>
                </button>
            </form>
        </div>
    </main>
    <th:block th:insert="fragments/footer :: footer"></th:block>
</body>
</html>